/*-------------------------------------------------------
   Name         : DOSE - Developer Coding Challenge CSS

   Version      :  2.0

   Author       :  Maria Garcia Fernandez

   Author URL   :  www.garciafdez.com

   Author Email : maria@garciafdez.com
-------------------------------------------------------------*/
/****************
* Main Page CSS *
*****************/
body {
    text-align: center;
    vertical-align: center;
    background-color: #243345;
}

h1 {
    color: aliceblue;
    font-family: Quicksand;
}

div a {
    font-family: Quicksand;
    color: aliceblue;
    font-size:30dp;
}

.micro {
    width: 100px;
    height: 100px;
    background: url(../images/microphone.png);
}

.stop {
    width: 100px;
    height: 100px;
    background: url(../images/stop.png);
}

#input {
    height: 40px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    font-family: Quicksand;
    font-size: 30dp;
}

#rec {
    border-style:none;
}

#logo {
    width: 350px;
    height: 160px;
}
